parameters:
    agit.common.cachedir: %kernel.cache_dir%/agit
    agit.common.php.version: ">=5.4.9"
    agit.common.symfony.version: "2.3.*"

services:
    agit.common.cache.persistent:
        class: Doctrine\Common\Cache\FilesystemCache
        arguments: [ "%agit.common.cachedir%" ]

    agit.common.cache.volatile:
        class: Doctrine\Common\Cache\ApcCache

    agit.common.filecollector:
        class: Agit\BaseBundle\Service\FileCollector
        arguments: [ "@kernel" ]

    agit.common.classcollector:
        class: Agit\BaseBundle\Service\ClassCollector
        arguments: [ "@agit.common.filecollector" ]

    agit.common.url:
        class: Agit\BaseBundle\Service\UrlService
        arguments: [ "%agit.common.domain.app%", "%agit.common.domain.cdn%", "%agit.common.force.https%" ]

    agit.cron:
        class: Agit\BaseBundle\Service\CronService
        arguments: [ "@event_dispatcher" ]

    agit.validation:
        class: Agit\BaseBundle\Service\ValidationService
        arguments: [ "@agit.pluggable.object.loader_factory" ]
        tags: [{ name: "agit.pluggable", type: "object", tag: "agit.validation", baseClass: "Agit\BaseBundle\Plugin\Validator\AbstractValidator" }]

imports :
    - { resource: services.intl.yml }
    - { resource: services.pluggable.yml }
